<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-header>
    <h1>Continuous Integration (CI)</h1>
  </nb-card-header>
  <nb-card-body>
    <p>La Continuous Integration (CI) est une méthode de développement logiciel dans laquelle les développeurs fusionnent régulièrement leurs modifications de code dans un référentiel central. Après chaque fusion, des builds et des tests automatisés sont exécutés pour détecter rapidement les bogues et améliorer la qualité du logiciel. En intégrant régulièrement, vous pouvez détecter et résoudre les erreurs plus tôt, améliorer la qualité des logiciels et réduire le temps nécessaire à la validation et à la publication de nouvelles mises à jour logicielles.
    <p>Chaque intégration est vérifiée par un processus automatisé de build et de tests pour détecter les erreurs de manière rapide et automatique.</p>
    <p>L'objectif de la CI est de fournir un feedback rapide sur l'état du développement du logiciel afin de permettre des corrections immédiates, améliorant ainsi la qualité du logiciel et réduisant le temps nécessaire pour valider et libérer des modifications.</p>

    <img class="centered-image" src="./././assets/images/devops.png" alt="DevOps Image">

    <h5>Avantages de la CI :</h5>
    <ul>
      <li><strong>Détection rapide des erreurs :</strong> Les problèmes dans le code sont identifiés et corrigés plus rapidement.</li>
      <li><strong>Moins de conflits de code :</strong> L'intégration fréquente réduit les conflits de fusion en maintenant les branches des développeurs alignées avec la branche principale.</li>
      <li><strong>Amélioration de la qualité du logiciel : </strong>Les builds réguliers et les tests garantissent que les régressions sont capturées et traitées promptement.</li>
      <li><strong>Automatisation du processus de build et de test :</strong> Libère les développeurs des tâches manuelles répétitives et permet un développement plus efficace.</li>
    </ul>

    <h5>Étapes de l'intégration continue</h5>
    <ul>
      <li><strong> Plan</strong> </li>
      <li><strong> Code</strong> </li>
      <li><strong> Build</strong> </li>
      <li><strong> Test</strong> </li>
    </ul>
    <img class="centered-images" src="./././assets/images/etaps.png" alt="DevOps Image">

    <h5>Configuration de l'environnement (Code)</h5>
    <p>Assurez-vous que tous les développeurs ont accès à un dépôt de code centralisé (comme GitLab, GitHub, ou Bitbucket). Utilisez un système de gestion de versions (VCS) comme Git.</p>

    <h5>Automatisation des builds</h5>
    <p>Configurez un serveur CI (par exemple, GitLab CI/CD, Jenkins, CircleCI) pour surveiller les changements dans le dépôt. Définissez des scripts pour automatiser la construction de l'application.</p>

    <h5>Exécution des tests</h5>
    <p>Intégrez des tests unitaires, d'intégration et fonctionnels. Configurez le serveur CI pour exécuter automatiquement ces tests à chaque nouvelle intégration.</p>


  </nb-card-body>
</nb-card>
